/* ||Chillax Font from https://www.fontshare.com/fonts/chillax */
@import url('../fontshare/Chillax_Complete/Fonts/WEB/css/chillax.css');
/* || Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ||ROOT */
:root{
  --main-color: #021c05;
  --secondary-color: #FFFAFF;
  --color-black: #111111;
  --main-font: 'chillax-semibold';
  --secondary-font: 'Poppins';
  --font-white: white;
}
::selection{
  background-color: var(--main-color);
  color: var(--secondary-color);
}

/* ||Body Background Color */
body, html{
  background-color: var(--secondary-color);
  scroll-behavior: smooth;
}

/* || HERO */
.hero{
  background: url(../assets/brownfurniture.jpg) center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 2rem ;
  transition: all 500ms;
  gap: 5rem;
}

/* Hero Container */
.hero__container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Hero Title */
.hero__title{
  font-family: var(--main-font);
  font-size: clamp(2rem, 7vw, 7vw );
  color: var(--main-color);
}

/* Hero Text */
.hero__text{
  font-family: var(--secondary-font);
  font-size: clamp(1rem, 2vw, 2vw );
  color: white;
  line-height: 120%;
}

/* || HERO BUTTONS CONTAINER */
.hero__container > .hero__btn__container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Hero Button */
.hero__first__btn{
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--font-white);
  font-family: var(--secondary-font);
  padding: 10px 20px;
  background-color: var(--main-color);
  border:2px solid var(--main-color);
  border-radius: 20px;
  transition: all 0.3s;
}

/* Hero First Button Hover */
.hero__first__btn:hover{
  background-color: var(--secondary-color);
  color: var(--main-color);
}

/* Secondary Button */
.hero__second__btn{
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--secondary-font);
  padding: 10px 20px;
  border:2px solid var(--main-color);
  border-radius: 20px;
  transition: all 0.3s;
}

/* Hero Second Button Hover */
.hero__second__btn:hover{
  border:2px solid  var(--secondary-color);
  color: var(--secondary-color);
}

/* || Hero Arrow Icon */
.hero__arrow__icon{
  font-size: 2rem;
  cursor: pointer;
  color: var(--font-white);
  background-color: var(--main-color);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.hero__arrow__icon:hover{
  transform: scale(1.1) rotate(360deg);
}
.hero__arrow__icon:active{
  transform: scale(1) rotate(360deg);
}

/* ||CONTENT */
.content{
  min-height: 80vh;
  border-bottom: 1px var(--main-color) solid;
}

.content__title{
  text-align: center;
  margin-block: 5rem;
  font-size: clamp(2rem, 5vw, 5vw );
  font-family: var(--main-font);
}

.content > .content__main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Content Container Living Room */
.content__container--livroom{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px var(--main-color) solid;
}

/* Content Container BedRoom */
.content__container--bedroom{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px var(--main-color) solid;
}

/* Content Container Kitchen */
.content__container--kitchen{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 5rem;
}

/* Content Collections */
.collections{
  flex: 1;
  width: 100%;
}


/* Content Title */
.content__category{
  font-family: var(--secondary-font);
  text-align: center;
  font-size: clamp(1rem, 3vh, 3vh);
  text-transform: capitalize;
}

/* Content Button */
.content__btn{
  font-family: var(--secondary-font);
  text-decoration: none;
  color: var(--main-color);
  text-align: center;gap: 15rem;
  font-size: 1.5rem;
  transition: all 0.3s;
  padding-block: 10px;
  text-decoration: underline;
}

/* Content Button Hover */
.content__btn:hover{
  color: var(--secondary-color);
  background-color: var(--main-color);
  text-decoration: none;
}

/* Content Image */
.content__image{
  width: 100%;
  max-width: 400px;
  height: auto;
  transition: all 0.3s;
  cursor: pointer;
}

/* ||CARDS */
.card{
  min-height: 100vh;
  margin: 3rem 0.5rem;
  max-width: 75rem;
  padding: 3rem 0.5rem;
  position: relative;
}

/* Card Main (ul) */
.card__main{
  margin: 0.5rem;
}


/* Card Container (li) */
.card__container{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-block: 3rem;
  flex-basis: 200px;
  border: 1px black solid;
  cursor: pointer;
  transition: all 0.3s;
}


/* Card Images */
.card__img{
  width: 100%;
  height: auto;
  border-bottom: 1px black solid ;
}

/* Card Content */
.card__content{
  margin-top: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Card Content Name */
.card__content__name{
  font-family: 'chillax-medium';
  font-size: 2vh;
}

/* Card Content Price */
.card__content__price{
  font-family: var(--main-font);
}

.card__buy{
  color: var(--main-color);
  font-family: var(--secondary-font);
  text-decoration: none;
  background-color: green ;
  color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 10px;
  max-width: 30px;
  transition: all 0.3s;
}

.card__buy:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px 0 var(--color-black);
  background-color: rgb(47, 180, 47) ;
  color: var(--secondary-color);
}

/* Accordion and Video Section */
.accvideo{  
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  margin: 1.5rem; 
}

.accvideo__title{
  font-family: var(--main-font);
  font-size: clamp(2rem, 4vw, 4vw);
  margin-bottom: 3rem;
}

.accvideo__btn{
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  background-color: var(--main-color);
  border: 1px solid var(--color-black);
  border-width: 1px 0 0 0 ;
  font-size: clamp(1rem, 2.5vh, 3vh);
  width: 100%;
  cursor: pointer;
  padding: 10px 18px;
  text-align: left;
}

.accvideo .accvideo__icon::before{
  content: "+";
}

.accvideo .accvideo__container.active .accvideo__icon::before{
  content: "-";
}

.extra__bottom__border{
  border-bottom: 1px solid var(--color-black);
}

.accvideo__text{
  color: var(--main-color);
  margin-block: 1rem;
  font-size: 17px;
  font-family: sans-serif;
}


.accvideo__video{
  width: 100%;
  margin-top: 5rem;
}

.accvideo .accvideo__container .accvideo__panel{
  transition: all 0.4s; 
  overflow: hidden;
  overflow-y: auto;
  position: relative; 
  height: 0;
}

/* Classlist toggle Active Click Event */
.accvideo 
.accvideo__container.active 
.accvideo__panel{
  height: 115px;
  padding: 10px 18px;
}




