/* ||Chillax Font from https://www.fontshare.com/fonts/chillax */
@import url('../fontshare/Chillax_Complete/Fonts/WEB/css/chillax.css');
/* || Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ||ROOT */
:root{
  --main-color: #021c05;
  --secondary-color: #FFFAFF;
  --color-black: #111111;
  --main-font: 'chillax-semibold';
  --secondary-font: 'Poppins';
  --font-white: white;
}
::selection{
  background-color: var(--main-color);
  color: var(--secondary-color);
}

/* ||Body Background Color */
body, html{
  background-color: var(--secondary-color);
  scroll-behavior: smooth;
}

/* || HERO */
.hero{
  background: url(../assets/brownfurniture.jpg) center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 5rem ;
  transition: all 500ms;
  gap: 10rem;
}

/* Hero Container */
.hero__container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Hero Title */
.hero__title{
  font-family: var(--main-font);
  font-size: clamp(3rem, 7vw, 7vw );
  color: var(--main-color);
}

/* Hero Text */
.hero__text{
  font-family: var(--secondary-font);
  font-size: clamp(1.5rem, 2vw, 2vw );
  color: white;
  line-height: 120%;
}

/* || HERO BUTTONS CONTAINER */
.hero__container > .hero__btn__container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Hero Button */
.hero__first__btn{
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--font-white);
  font-family: var(--secondary-font);
  padding: 10px 20px;
  background-color: var(--main-color);
  border:2px solid var(--main-color);
  border-radius: 20px;
  transition: all 0.3s;
}

/* Hero First Button Hover */
.hero__first__btn:hover{
  background-color: var(--secondary-color);
  color: var(--main-color);
}


/* Secondary Button */
.hero__second__btn{
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--secondary-font);
  padding: 10px 20px;
  border:2px solid var(--main-color);
  border-radius: 20px;
  transition: all 0.3s;
}

/* Hero Second Button Hover */
.hero__second__btn:hover{
  border:2px solid  var(--secondary-color);
  color: var(--secondary-color);
}

/* || Hero Arrow Icon */
.hero__arrow__icon{
  font-size: 4rem;
  cursor: pointer;
  color: var(--font-white);
  background-color: var(--main-color);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.hero__arrow__icon:hover{
  transform: scale(1.1) rotate(360deg);
}
.hero__arrow__icon:active{
  transform: scale(1) rotate(360deg);
}

/* ||CONTENT */
.content{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px var(--main-color) solid;
}

.content > .content__main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* Content Container LIVING ROOM */
.content__container--livroom{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px var(--main-color) solid;
}
.content__container--bedroom{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px var(--main-color) solid;
}
.content__container--kitchen{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 5rem;
}
/* Content Title */
.content__title{
  font-family: "chillax-medium";
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}
/* Content Button */
.content__btn{
  font-family: var(--secondary-font);
  text-decoration: none;
  color: var(--main-color);
  text-align: center;gap: 15rem;
  font-size: 1.5rem;
}

/* Content Image */
.content__image{
  width: 100%;
  max-width: 500px;
  height: auto;
  transition: all 0.3s;
  cursor: pointer;
}

/* ||ACCORDION */
.accordion{
  min-height: 100vh;
}