/* || MOBILE  */
@media screen and (min-width: 768px) {
  .hero__container{
    margin: 0 3rem;
    gap: 2rem;
  }
}
/* ||LARGER SCREENS */
@media screen and (min-width: 1200px) {
  /* ||HERO */
  .hero{
    background: url(../assets/herochair.jpg) center/cover no-repeat;
    justify-content: space-between;
    flex-direction: row;
  }
  /* Hero Container */
  .hero__container{
    gap: 3rem;
  }
  /* Hero Buttons */
  .hero__first__btn,
  .hero__second__btn{
    font-size: 20px;
  }
}