/* || MOBILE  */
@media screen and (min-width: 768px) {
  .hero{
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__container{
    gap: 2rem;
  }

  .content > .content__main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .card__main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .card__container{
    margin-block: 0;
    align-items: baseline;
    border: 1px black solid;
    flex-basis: calc(50% - 6rem);
  }

  .card__container:hover{
    transform: translateY(-10px);
  }

  .card__content{
    padding: 1rem;
  }
}
/* ||LARGER SCREENS */
@media screen and (min-width: 1200px) {
  /* ||HERO */
  .hero{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-inline: 16rem;
  }

  /* Hero Container */
  .hero__container{
    gap: 3rem;
  }

  /* Hero Buttons */
  .hero__first__btn,
  .hero__second__btn{
    font-size: 20px;
  }

  .hero__arrow__icon{
   font-size: 3rem;
  }

  .content > .content__main{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .collections{
    flex-basis: calc(33% - 20px);
  }

  .content__container--livroom{
    padding-bottom: 0;
    border-bottom: none;
  }

  .content__container--bedroom{
    padding-bottom: 0;
    border-bottom: none;
  }

  .content__image:hover{
    border-radius: 50px;
  }  

  .card{
    margin: 3rem auto;
  }

  .card__main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .card__container{
    margin-block: 0;
    align-items: baseline;
    border: 1px black solid;
    flex-basis: calc(33% - 20px);
  }

  .card__container:hover{
    transform: translateY(-11px);
    box-shadow: 0 0 5px 0 black;
  }

  .card__content{
    padding: 1rem;
  }

}