/* || MOBILE or Smaller Screens  */
@media screen and (min-width: 768px) {
  /* || HERO */
  .hero{
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Hero Container */
  .hero__container{
    gap: 2rem;
  }

  /* Content Main (ul) */
  .content > .content__main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  /* Card Main (ul) */
  .card__main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  /* Card Container (li) */
  .card__container{
    margin-block: 0;
    align-items: baseline;
    border: 1px black solid;
    flex-basis: calc(50% - 6rem);
  }

  /* Card Container (li) Hover Effects */
  .card__container:hover{
    transform: translateY(-10px);
  }

  /* Card Content (div) */
  .card__content{
    padding: 1rem;
  }

  /* || ACCORDION AND VIDEO */
  .accvideo{
    margin: 10rem 7rem 5rem 7rem; 
    gap: 5rem;
  }

}
/* || Desktops or Larger Screens */
@media screen and (min-width: 1200px) {
  /* || HERO */
  .hero{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-inline: 16rem;
  }

  /* Hero Container */
  .hero__container{
    gap: 3rem;
  }

  /* Hero Buttons */
  .hero__first__btn,
  .hero__second__btn{
    font-size: 20px;
  }

  /* Hero Arrow Icon */
  .hero__arrow__icon{
   font-size: 3rem;
  }

  /* Content Main (ul) */
  .content > .content__main{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* Content Container Living Room (li #1) */
  .content__container--livroom{
    padding-bottom: 0;
    border-bottom: none;
  }

    /* Content Container Bedroom (li #2) */
  .content__container--bedroom{
    padding-bottom: 0;
    border-bottom: none;
  }

  /* Content Image */
  .content__image:hover{
    border-radius: 50px;
    transform: scale(1.1);
  }  

  /* || CARD */
  .card{
    margin: 3rem auto;
  }

  /* Card Main (ul) */
  .card__main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  /* Card Container (li) */
  .card__container{
    margin-block: 0;
    align-items: baseline;
    border: 1px black solid;
    flex-basis: calc(33% - 20px);
  }

  /* Card Container (li) Hover Effects */
  .card__container:hover{
    transform: translateY(-11px);
    box-shadow: 0 0 10px 0 black;
  }

  /* Card Content (div) */
  .card__content{
    padding: 1rem;
  }

  /* || ACCORDION AND VIDEO */
  .accvideo{
    margin: 10rem 15rem 5rem 15rem; 
    flex-direction: row;
  }

  /* Accordion and Video (iframe video) */
  .accvideo__video{
    max-width: 100rem;
    margin: 0;
    box-shadow: 0 5px 20px 5px black;
  }

  /* Footer Wrapper */
  .footer__wrapper{
    width: 20rem;
    margin-top: 5rem;
    margin-left: 5rem;
  }
  
  /* Footer Container (li) */
  .footer__container{
    flex-direction: row;
  }
  
  /* Footer Map (iframe map) */
  .footer__map{
    margin: 5rem;
    max-width: 30rem;
  } 
}